<aside class="sidebar" id="sidebar">
  <div class="sidebar-brand">
    <a href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a>
    <span class="sidebar-subtitle">Let's Do it!</span>
  </div>
  
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ .Site.BaseURL | relURL }}" class="nav-link{{ if .IsHome }} active{{ end }}">Home</a>
      </li>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a href="{{ .URL | relURL }}" class="nav-link{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.RelPermalink .URL) }} active{{ end }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</aside>
