{{ define "main" }}
<div class="list-container">
  <h1 class="page-title">{{ .Title }}</h1>
  {{ if .Content }}
  <div class="section-description">
    {{ .Content }}
  </div>
  {{ end }}
  
  <ul class="post-list">
    {{ range .Pages }}
    <li class="post-item">
      <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format $.Site.Params.dateFormat }}
        </time>
      </div>
      <h2 class="post-title-link">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
    </li>
    {{ else }}
    <li class="no-posts">No posts found in this section.</li>
    {{ end }}
  </ul>
</div>
{{ end }}
